@model NightAlgorithm.Models.Događaj

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Događaj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nazivDogađaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nazivDogađaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijemePočetka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijemePočetka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipDogađaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipDogađaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opisDogađaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opisDogađaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.posebneNapomene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.posebneNapomene)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dobnoOgraničenje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dobnoOgraničenje)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idDogađaja" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
