@model NightAlgorithm.Models.Notifikacija

@{
    ViewData["Title"] = "Detalji Notifikacija";
}

<h1>Detalji</h1>

<div>
    <h4>Notifikacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tekst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tekst)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Uredi</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
