@model IEnumerable<NightAlgorithm.Models.Notifikacija>

@{
    ViewData["Title"] = "Notifikacije";
}

<h1>Notifikacije</h1>
@if (User.IsInRole("Vlasnik"))
{
    <p>
        <a asp-action="Create">Napravi notifikaciju</a>
    </p>
}

<table style="color: #ffcd00;"class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tekst)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tekst)
                </td>
                <td>
                    @if (User.IsInRole("Vlasnik"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> <nobr>|</nobr>
                    }

                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |

                    @if (User.IsInRole("Vlasnik"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>
