@model IEnumerable<NightAlgorithm.Models.RegistrovaniKorisnik>

@{
    ViewData["Title"] = "Moj profil";
}

<h1>Moj profil</h1>

<p>
    <a asp-action="Create">Dodaj informacije o sebi </a>
</p>
<p>
    Ove informacije će biti vidljive svim korisnicima naše aplikacije. 
</p>
<table style="color: #ffcd00; "class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.korisničkoIme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spol)
            </th>
            <th></th>
        </tr>        
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.korisničkoIme)
            </td>
  
            <td>
                @Html.DisplayFor(modelItem => item.spol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
