@model IEnumerable<NightAlgorithm.Models.Događaj>

@{
    ViewData["Title"] = "Događaji";
}

<h1>Aktuelni događaji</h1>

@if (User.IsInRole("Vlasnik"))
{
    <p>
        <a asp-action="Create">Kreiraj novi događaj</a>
    </p>
}

<table style="color: #ffcd00;"class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazivDogađaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vrijemePočetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipDogađaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opisDogađaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.posebneNapomene)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dobnoOgraničenje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nazivDogađaja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vrijemePočetka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipDogađaja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.opisDogađaja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.posebneNapomene)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dobnoOgraničenje)
                </td>
                <td>
                    @if (User.IsInRole("Vlasnik"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.idDogađaja">Uredi</a> <nobr> </nobr>
                    }

                    <a asp-action="Details" asp-route-id="@item.idDogađaja">Detalji</a> 
                    @if (User.IsInRole("Vlasnik"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.idDogađaja">Obriši</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
